<div class="background-image">
    <div class="registro-box">
      <h2>Registro</h2>
      <form>
        <div class="user-box">
          <input type="text" name="username" required>
          <label>Nombre de Usuario</label>
        </div>
        <div class="user-box">
          <input type="email" name="email" required>
          <label>Correo Electrónico</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required>
          <label>Contraseña</label>
        </div>
        <a href="#">
          Registrarse
        </a>
      </form>
    </div>
  </div>