<div class="mayor-menor-container">
  <div class="header">
    <h1>Mayor o Menor</h1>
    <div class="timer-circle-container">
      <div class="timer-circle">{{ tiempoRestante }}</div>
    </div>
  </div>

  <div class="cartas-container">
    <div class="carta-container">
      <img src="https://deckofcardsapi.com/static/img/back.png" alt="Reverso" class="carta" />
    </div>

    @if (cartaActual) {
      <div class="carta-container">
        <img [src]="cartaActual.image" alt="Carta actual" class="carta" />
      </div>
    } @else {
      <p>Cargando carta inicial...</p>
    }
  </div>

  @if (jugando) {
    <div class="botones-accion">
      <button (click)="adivinar(true)">Mayor</button>
      <button (click)="adivinar(false)">Menor</button>
    </div>
  } @else {
    <p class="mensaje">{{ mensaje }}</p>
    <p class="motivo">Motivo: {{ motivoPerdida }}</p>
    <button class="boton" (click)="iniciarJuego()">Volver a jugar</button>
    <button class="boton" routerLink="">Volver al Home</button>
  }
</div>