.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.884);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  color: #fff;
  text-align: center;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  color: #8a2be2;
  font-size: 12px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #8a2be2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #6b00b6;
}

.quick-login {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.quick-login-button {
  display: block;
  margin: 5px;
  padding: 10px 15px;
  color: #fff;
  background: #8a2be2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.quick-login-button:hover {
  background: #8a2be2;
}
